body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(250, 219, 240);
}
.title{
    color:rgb(0, 68, 204);
    text-align:center;
}

.score{
    font-size:x-large;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#player-score,
#computer-score{
    margin-right:75px;
    margin-left:75px;
}

.choices-section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.player-choices{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

.player-choices button{
    margin:17px; 
    background-color:white;
    border:none;
    border-radius: 10px;
}


.player-choices img {
    background-color:blanchedalmond;
    max-height: 200px;
}